[% page_title = 'Add record transfer inventory text' %]

<h2>Adding a text inventory</h2>

<p>
Please type in some text that describes the records you are transferring.
</p>

<p>
<a href="[% Catalyst.uri_for( '/create_rsa/inventory/' _ rsa.id _ '/upload' ) %]">Click here if you'd rather upload inventory files, instead.</a>
</p>

[% form %]
