<div id="login_info">
[% IF Catalyst.user %]
<p>Welcome, [% Catalyst.user.id %].</p>
<form method="post" action="[% Catalyst.uri_for('/auth/logout') %]">
<input type="submit" value="Log out of Form" />
</form>
[% ELSE %]
<p>You are not signed into TAPER.</p>
[% END %]
</div>